@font-face {
    font-family: btnFont;
    src: url("../Fonts/MORPHEUS.TTF");

    font-family: textFont;
    src: url("../Fonts/CaslonAntique.ttf");
}

body{
    background-image: url("../Images/woodBackground.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    min-height: 90vh;
    display: grid;
    place-items: center;
}

/* Button */
a{
    /* shape */
    font-size: 2vw;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-width: .125em;
    position: absolute;

    /* style */
    background-image: url("../Images/marbleBackground.jpg");
    border: .125em solid black;
    border-image: url("../Images/borderBackground.jpg");
    border-image-slice: 10;
    border-image-width: .125em;
    border-image-repeat: round;
    color: white;
    font-family: btnFont;
    box-shadow: 0 0 0 .05em black, inset 0 0 0 .05em black;
    text-shadow: 0 0 .125em 0 black;
    visibility: hidden;
}

a:hover{
    box-shadow: 0 0 0 .05em black, inset 0 0 1em 0 black;
    text-shadow: 0 0 .5em 0 black;
}

#wrapper {
    overflow: hidden;
    width: fit-content;
    height: 25rem;
}

/* Bookmark */
.bookmark{
    /*shape*/
    position: relative;
    width: 5rem;
    height: 18rem;
    top: 0%;

    /* style */
    background-color: #7C272A;
    border-left: .4em solid #7C272A;
    border-right: .4em solid #7C272A;
    box-shadow: inset  .3em 0 0 0 darkgoldenrod,
    inset  -.3em 0 0 0 darkgoldenrod;
    visibility: hidden;
}

.bookmark::before{
    z-index: -1;
    content: "";
    position: absolute;
    height: 10%;
    width: 50%;
    top: 99%;
    right: 50%;
    background-color: #7C272A;
    border-bottom-right-radius: 100%;
    border-left: .4em solid #7C272A;
    box-shadow: inset  .3em 0 0 0 darkgoldenrod;
}

.bookmark::after{
    z-index: -1;
    content: "";
    position: absolute;
    height: 10%;
    width: 50%;
    top: 99%;
    left: 50%;
    background-color: #7C272A;
    border-bottom-left-radius: 100%;
    border-right: .4em solid #7C272A;
    box-shadow: inset  -.3em 0 0 0 darkgoldenrod;
}

#container{
    top: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 4em;
    padding-right: 4em;
    margin-left: 5em;
    margin-right: 5em;
    position: absolute;
    display: grid;
    place-items: center;

    background-image: url("../Images/container.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    /* visibility: hidden; */
}

.textBody{
    font-family: textFont;
    font-size: 2vw;
    /* visibility: hidden; */
}

img{
    width: 20%;
    height: 100%;
    /* visibility: hidden; */
}